<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Product Page</h1>

    <table border="">
      <form action="/add" method="post" enctype="multipart/form-data">
        <tr>
          <td>user Name:</td>
          <td><input name="userName" type="text" /></td>
        </tr>
        <tr>
          <td>Email:</td>
          <td><input name="email" type="email" /></td>
        </tr>
        <tr>
          <td></td>
          <td><button>Submit</button></td>
        </tr>
      </form>
    </table>
    <br />
    <br />

    <table border="">
      <caption>
        product data
      </caption>
      <thead>
        <th>User Name</th>
        <th>User Email</th>
        <th>Action</th>
      </thead>
      <tbody>
        <% userData.map((element,index)=>{ %>

        <tr>
          <td><%=element.userName %></td>
          <td><%= element.email %></td>
          <td>
            <a href="/edit/<%= element.id %>"><button>Edit</button></a>
            <a href="/delete/<%= element.id %>"><button>Delete</button></a>
          </td>
        </tr>

        <% }) %>
      </tbody>
    </table>
  </body>
</html>
